*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.navbar {
  cursor: pointer;
  color: chartreuse;
  background: #000;
}

.nav {
  cursor: pointer;
}

.signup .button,
.signin .button,
.profile .button {
  color: black;
  background: chartreuse;
  border: black;
  border-radius: 50px;
}



